cachetools==7.1.4
    # via tox
certifi==2026.5.20
    # via requests
charset-normalizer==3.4.7
    # via requests
colorama==0.4.6
    # via tox
distlib==0.4.0
    # via virtualenv
docker==7.1.0
    # via tox-docker
filelock==3.29.0
    # via
    #   python-discovery
    #   tox
    #   virtualenv
idna==3.17
    # via requests
packaging==26.2
    # via
    #   pyproject-api
    #   tox
platformdirs==4.10.0
    # via
    #   python-discovery
    #   tox
    #   virtualenv
pluggy==1.6.0
    # via tox
pyproject-api==1.10.1
    # via tox
python-discovery==1.4.0
    # via
    #   tox
    #   virtualenv
requests==2.34.2
    # via docker
tomli-w==1.2.0
    # via tox
tox==4.55.0
    # via
    #   -r test_requirements.in
    #   tox-docker
tox-docker==5.0.0
    # via -r test_requirements.in
urllib3==2.7.0
    # via
    #   docker
    #   requests
virtualenv==21.4.2
    # via tox
