cachetools==7.1.8
    # via tox
certifi==2026.7.22
    # via requests
charset-normalizer==3.5.1
    # via requests
colorama==0.4.6
    # via tox
distlib==0.4.3
    # via virtualenv
docker==7.2.0
    # via tox-docker
filelock==3.32.5
    # via
    #   python-discovery
    #   tox
    #   virtualenv
idna==3.19
    # via requests
packaging==26.3
    # via
    #   pyproject-api
    #   tox
platformdirs==4.11.5
    # via
    #   tox
    #   virtualenv
pluggy==1.6.0
    # via tox
pyproject-api==1.11.0
    # via tox
python-discovery==1.6.0
    # via
    #   tox
    #   virtualenv
requests==2.34.2
    # via docker
tomli-w==1.2.0
    # via tox
tox==4.61.2
    # via
    #   -r test_requirements.in
    #   tox-docker
tox-docker==5.0.0
    # via -r test_requirements.in
typing-extensions==4.16.0
    # via tox
urllib3==2.7.0
    # via
    #   docker
    #   requests
virtualenv==21.7.7
    # via tox
